/* google font  */
@import url("https://fonts.googleapis.com/css2?family=Amiri+Quran&family=Anton&family=Fasthand&family=Fredoka+One&family=Gloria+Hallelujah&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nabla&family=Oleo+Script:wght@400;700&family=Poiret+One&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200;1,300;1,400;1,500;1,800;1,900&family=Rubik+Burned&family=Tangerine:wght@400;700&display=swap");

/* font-family: 'Amiri Quran', serif;
font-family: 'Anton', sans-serif;
font-family: 'Fasthand', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Nabla', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Poiret One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik Burned', cursive;
font-family: 'Tangerine', cursive; */

:root {
  /*   color variables */
  --clr-primary: #017143;
  --clr-primary-light: #f3f8fe;
  --clr-primary-dark: #a7bad3;
  --clr-gray100: #f9fbff;
  --clr-gray150: #f4f6fb;
  --clr-gray200: #eef1f6;
  --clr-gray300: #e1e5ee;
  --clr-gray400: #767b91;
  --clr-gray500: #4f546c;
  --clr-gray600: #2a324b;
  --clr-gray700: #161d34;
}

* {
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ddd;
}
/* small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* end global rules  */

/* start header  */
section.header{
      position: relative;
      width: 100%;
      min-height: 100vh;
      padding: 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
}
.header header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo{
    position: relative;
    max-width: 80px;
}
.header header ul{
    position: relative;
    display: flex;
}
header ul li{
    list-style: none;
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
    text-decoration: none;
    text-transform: capitalize;
}
.header .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.content .textBox{
  position: relative;
  max-width: 600px;
}
.content .textBox h2{
  color: #333;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
}
.content .textBox h2 span{
  color: var(--clr-primary);
  font-size: 1.4em;
  font-weight: 900;
}
.content .textBox p{
  color: #333;

}
.content .textBox a{
  display: inline-block;
  margin-top: 20px;
  padding: 8px 20px;
  background: var(--clr-primary);
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
}
.content .imgBox{
  width: 600px;
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
  margin-top: 50px;

}
.content .imgBox img{
  max-width: 340px;

}
.thumb{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
  
}
.thumb li{
  list-style: none;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: .3s;
}
.thumb li:hover{
  transform: translateY(-15px);
}
.thumb li img{
  max-width: 60px;

}
.header .social-media{
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  list-style: none;
}
.social-media li a {
  display: inline-block;
  margin: 5px 0;
  transform: scale(0.7);
  filter: invert(1);
}
.circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--clr-primary);
  clip-path: circle(600px at right 800px);
}